<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Yoo App - detail</title>
    <h1>Yoo Self Service Console V0.1</h1>
    <ul>
      <li><a href="/api/account/aws">계정생성-AWS</a></li>
      <li><a href="/api/account/azure">계정생성-Azure</a></li>
      <li><a href="/api/infra/aws">인프라생성-AWS</a></li>
      <li><a href="/api/infra/azure">인프라생성-Azure</li>
    </ul>
  </head>

  <body>
    <div style="background-color: greenyellow;">
        <h1>{{ message }}</h1>
    </div>
  </body>
</html>